<div class="card">
    <div class="card-header">{{ menuItem.nameTr }}</div>
    <div class="card-body">
     
            <table  mat-table [dataSource]="dataSource" style="width: 100%">
                    <ng-container matColumnDef="testCaseName" >
                        <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("testCaseName")}}
                         <br>
                    <input class="form-control input-sm witdh-260px"   [(ngModel)]="filterObject.testCaseName" (keyup)="filterList()" name="testCaseName">    
                        </th>
                        <td mat-cell *matCellDef="let element"> {{ element.testCase.testCaseName }} </td>
                    </ng-container>
                        <ng-container matColumnDef="browser" >
                            <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("browser")}}
                                    <br>
                                    <input class="form-control input-sm witdh-260px" [(ngModel)]="filterObject.browser" (keyup)="filterList()" name="browser">   </th>
                            <td mat-cell *matCellDef="let element"> {{ element.scheduler.browser }} </td>
                        </ng-container>
                    
                         
                
                        <ng-container matColumnDef="dateTime">
                            <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("dateTime")}} 
                                    <br>
                                    <input class="form-control input-sm witdh-260px"  [(ngModel)]="filterObject.dateTime" (keyup)="filterList()" name="dateTime">  
                            </th>
                            <td mat-cell *matCellDef="let element" > {{ element.scheduler.dateTime }} </td>
                        </ng-container>
                
                        <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("status")}} 
                                        <br>
                                        <input class="form-control input-sm witdh-260px" [(ngModel)]="filterObject.status" (keyup)="filterList()" name="status">  
                                </th>
                                <td mat-cell *matCellDef="let element" >
                                                             
                                                <mat-select style="margin-left: 10px" [(ngModel)]="element.scheduler.status" >
                                                  <mat-option *ngFor="let status of statuses" [value]="status.name">
                                                    {{status.name}}
                                                  </mat-option>
                                                </mat-select>
                               
                            
                            
                            </ng-container>
                    
                        <ng-container matColumnDef="enviroment" >
                                <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("enviroment")}} 
                                        <br>
                                        <input class="form-control input-sm witdh-260px" [(ngModel)]="filterObject.enviroment" (keyup)="filterList()" name="enviroment">  
                                </th>
                                <td mat-cell *matCellDef="let element"> {{ element.scheduler.enviroment }} </td>
                            </ng-container>
                        
                             
                    
                            <ng-container matColumnDef="interval2">
                                <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("interval")}} 
                                        <br>
                                        <input class="form-control input-sm witdh-260px" [(ngModel)]="filterObject.interval2" (keyup)="filterList()" name="interval2">  
                                </th>
                                <td mat-cell *matCellDef="let element" > {{ element.scheduler.interval2 }} </td>
                            </ng-container>
                            <ng-container matColumnDef="url">
                                    <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("url")}} 
                                            <br>
                                            <input class="form-control input-sm witdh-260px" [(ngModel)]="filterObject.url" (keyup)="filterList()" name="url">  
                                    </th>
                                    <td mat-cell *matCellDef="let element" > {{ element.scheduler.url }} </td>
                                </ng-container>
                        
                                <ng-container matColumnDef="save">
                                    <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("save")}}
                                         </th>
                                    <td mat-cell *matCellDef="let element" >
                                            <button  type="button" 
                                            class="btn btn-primary" (click)="saveStatus(element)">{{  menuService.showLanguageItem("save")}}  </button>
                                            
                                    </td>
                                </ng-container>
    
                                
                                <ng-container matColumnDef="show">
                                        <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("showImage")}} </th>
                                        <td mat-cell *matCellDef="let element" >
                                                <button  type="button" 
                                                class="btn btn-primary" (click)="showImages(element)">{{  menuService.showLanguageItem("showImage")}}  </button>
                                                
                                        </td>
                                    </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                    </table>
           
                 
       

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            
                            <li *ngFor="let item of items" >
                            
                            <div *ngIf="item!='<' && item!='>' && item!=selectedItem">
                                    <a class="page-link" (click)="getPaginator(item)">{{item}}</a>
                            </div>
                    
                            <div *ngIf="item=='>' &&  count3>2 && selectedItem+1<count3" >
                                    <a class="page-link" (click)="getPaginator(selectedItem+1)">{{item}}</a>
                            </div>
                        
                            <div *ngIf="item=='<' &&  count3>2 && selectedItem>1" >
                                    <a class="page-link" (click)="getPaginator(selectedItem-1)">{{item}}</a>
                            </div>
                            <div *ngIf="item=='<' &&  count3>2 && selectedItem==0">
                                    <a class="page-link" (click)="getPaginator(selectedItem)">{{item}}</a>
                            </div>
                            <div *ngIf="item==selectedItem">
                                    <a class="page-link" style="background: yellow" (click)="getPaginator(selectedItem)">{{item}}</a>
                            </div></li>
                        </ul>
                    </nav>
                    <select (change)="selectChangeHandler($event)">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            
                        </select>
                        
                    
    
            </div>


            </div>