<div class="card">
        <div class="card-header">{{ menuItem.nameTr }}</div>
        <div class="card-body">
            <div class="row">
                <div class="column-sm-4">
                <div class="card" style="width:500px; height:400px">
                <div class="card-header">{{ menuService.showLanguageItem("pie")}}</div>
                <div class="card-body" >
        
                  
                  <div style="display: block">
                    <canvas baseChart
                    
                                               [data]="pieChartData"
                            [labels]="pieChartLabels"
                            [chartType]="pieChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"
                            [colors]="chartColors">
                        </canvas>
                  </div>
                  </div>
                </div>
            </div>
                <div class="column-sm-2">
                  <div class="card" style="width:300px; height:400px; margin-left:10px">
                        <div class="card-header">{{ menuService.showLanguageItem("unUsedStep")}}</div>
                        <div class="card-body"  style="
                        overflow-y: scroll; ">

                                <table  mat-table [dataSource]="dataSource2" style="width: 100%">
                                         
                                        <ng-container matColumnDef="testStepName" >
                                                <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("testStepName")}}
                                                 <br>
                                                 
                                             </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                        
                                            </ng-container>
                                       
                                               
                                            
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"
                                            ></tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                
                                            <div class="column-sm-2">   
                                                    <div class="card" style="width:400px; height:400px; margin-left:10px">
                                                            <div class="card-header">{{ menuService.showLanguageItem("failedTesCases")}}</div>
                                                            <div class="card-body"  style="
                                                            overflow-y: scroll; " >                                     
                                <table  mat-table [dataSource]="dataSource" style="width: 100%">
                                         
                                        <ng-container matColumnDef="testCaseName" >
                                                <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("testCaseName")}}
                                                 <br>
                                                 <input class="form-control input-sm witdh-260px"  [(ngModel)]="filteredFailedTestCases.testCaseName" (keyup)="filter()" name="testCaseName">
                                             </th>
                                                <td mat-cell *matCellDef="let element"> {{ element.testCaseName }} </td>
                        
                                            </ng-container>
                                            <ng-container matColumnDef="date" >
                                                    <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("date")}}
                                                     <br>
                                                     <input class="form-control input-sm witdh-260px"  [(ngModel)]="filteredFailedTestCases.date" (keyup)="filter()" name="date">
                                                 </th>
                                                    <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
                            
                                                </ng-container>
                                               
                                               
                                            
                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                            ></tr>
                                        </table>

                                        
                            </div>
                            </div>
                </div>
            
        
        </div></div></div>