<div class="card">
    <div class="card-header">{{ menuItem.nameTr }}</div>
    <div class="card-body">
        <div class="col-sm-1">
            <button  type="button" (click)="openDialog()+reset()"
                class="btn btn-primary"><i class="fa fa-plus"></i></button>
                <button  type="button" (click)="showDeleteButton()"
                class="btn btn-danger"><i class="fa fa-minus"></i></button>
                
            </div>
            

        <table mat-table [dataSource]="matTable.data" style="width: 100%;padding-right: 15px;">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("name") }}<br>
                    <input class="form-control input-sm" (keyup)="filterList()" [(ngModel)]="filterObject.name"
                        name="name">
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>

            <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("value") }} <br>
                    <input class="form-control input-sm" (keyup)="filterList()"
                        [(ngModel)]="filterObject.value" name="value">
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.value }} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("description") }} <br>
                    <input class="form-control input-sm" (keyup)="filterList()"
                        [(ngModel)]="filterObject.description" name="description">
                </th>
                <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
            </ng-container>
            <ng-container matColumnDef="delete" >
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" >
                    <button mat-button type="button" (click)="deleteParameterById(element)" class="btn btn-danger" [hidden]="!isDeleteOpen"><i
                            class="fa fa-window-close" aria-hidden="true"></i></button>
                </td>

            </ng-container>

            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"><button mat-button type="button" (click)="onSelect(element)"
                        class="btn btn-primary"><i class="fa fa-edit"></i></button> </td>

            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
<div class="ngta-overlay" [hidden]="!isDialogOpen"  (click)="closeDialog()"></div>
<div class="ngta-dialog" [hidden]="!isDialogOpen">
    <form>
        <div>
                <div class="card-header" style="top: 0">{{menuService.showLanguageItem("generalParammanagement") }}</div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">{{ menuService.showLanguageItem("name") }} : </label>
            <div class="col-sm-6"><input class="form-control" ngModel required [(ngModel)]="parameterObject.name"
                    name="name"></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" aria-required="true">{{ menuService.showLanguageItem("value") }} :
            </label>
            <div class="col-sm-6"><input class="form-control" ngModel required [(ngModel)]="parameterObject.value"
                    name="value"></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"
                aria-required="true">{{ menuService.showLanguageItem("description") }} :
            </label>
            <div class="col-sm-6"><input class="form-control" ngModel required [(ngModel)]="parameterObject.description"
                    name="description"></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-1"><button type="button" (click)="saveParameter()"
                    class="btn btn-primary">{{ menuService.showLanguageItem("save") }}</button></div>
            <div class="col-sm-1"><button type="button" (click)="reset()"
                    class="btn btn-primary">{{ menuService.showLanguageItem("clear") }}</button></div>
            <div class="col-sm-1"><button type="button" (click)="closeDialog()"
                    class="btn btn-danger">{{ menuService.showLanguageItem("cancel") }}</button></div>

        </div>
    </form>
</div>