<div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ languageArray["pageName"].name }} : </label>
        <div class="col-sm-6"><input class="form-control" [(ngModel)]="po.pageName" name="name"></div>
    </div>
    <div class="form-group row">
            <label  class="col-sm-2 col-form-label">{{ languageArray["platform"].name }} : </label>
            <mat-form-field>
                    <mat-label>Platforms</mat-label>
                    <mat-select style="margin-left: 10px" [(ngModel)]="po.platform" >
                      <mat-option *ngFor="let platform of data.platforms" [value]="platform.platformName">
                        {{platform.platformName}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ languageArray["description"].name }} : </label>
        <div class="col-sm-6"><input class="form-control"   [(ngModel)]="po.description" name="description"></div>
    </div>
    <button mat-button type="button" (click)="saveParameter(po)" [mat-dialog-close]="data.tableData" class="btn btn-primary">{{ languageArray["save"].name }}</button>
