<div class="card">
    <div class="card-header">{{ menuItem.nameTr }}</div>
    <div class="card-body">
        <button type="button" (click)="changeEditDialogIsShow() +  resetValues()" class="btn btn-primary "><i
                class="fa fa-plus" aria-hidden="true"></i></button>
        <button type="button" (click)="changeDeleteButtonIsShow()" class="btn btn-danger"><i
                class="fa fa-minus"></i></button>

        <table mat-table [dataSource]="dataSource" style="width: 99%;padding-right: 15px;">

            <ng-container matColumnDef="pageName" class="witdh-260px">
                <th mat-header-cell *matHeaderCellDef> {{menuService.showLanguageItem("pageName")}}
                    <br>
                    <input class="form-control input-sm witdh-260px" (keyup)="filterList()" name="Test123"
                        [(ngModel)]="filterObject.pageName">

                </th>


                <td mat-cell *matCellDef="let element" class="witdh-260px"> {{ element.pageName }} </td>
            </ng-container>


            <ng-container matColumnDef="platform">
                <th mat-header-cell *matHeaderCellDef> {{menuService.showLanguageItem("platform")}} <br>
                    <input class="form-control input-sm witdh-260px" (keyup)="filterList()"
                        [(ngModel)]="filterObject.platform" name="platform"></th>

                <td mat-cell *matCellDef="let element" class="witdh-260px"> {{ element.platform }} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> {{menuService.showLanguageItem("description")}} <br>
                    <input class="form-control input-sm witdh-350px" (keyup)="filterList()"
                        [(ngModel)]="filterObject.description" name="description"> </th>

                <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
            </ng-container>

            <ng-container matColumnDef="detail">
                <th mat-header-cell *matHeaderCellDef> {{menuService.showLanguageItem("detail")}}</th>
                <td mat-cell *matCellDef="let element"> <button type="button"
                        (click)="changeEditDialogIsShow() + selectElement(element) + getStepDetails(element)"
                        class="btn btn-primary"><i class="fa fa-info"></i></button>
                </td>
            </ng-container>


            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef [hidden]="!isDeleteButtonOpen">
                    {{menuService.showLanguageItem("delete")}} </th>
                <td [hidden]="!isDeleteButtonOpen" mat-cell *matCellDef="let element"> <button type="button"
                        (click)="delete(element)" class="btn btn-danger"><i class="fa fa-window-close"
                            aria-hidden="true"></i></button>
                </td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <nav aria-label="Page navigation example">
                <ul class="pagination">
                    
                    <li *ngFor="let item of items" >
                    
                    <div *ngIf="item!='<' && item!='>' && item!=selectedItem">
                            <a class="page-link" (click)="getPaginator(item)">{{item}}</a>
                    </div>
            
                    <div *ngIf="item=='>' &&  count3>2 && selectedItem+1<count3" >
                            <a class="page-link" (click)="getPaginator(selectedItem+1)">{{item}}</a>
                    </div>
                
                    <div *ngIf="item=='<' &&  count3>2 && selectedItem>1" >
                            <a class="page-link" (click)="getPaginator(selectedItem-1)">{{item}}</a>
                    </div>
                    <div *ngIf="item=='<' &&  count3>2 && selectedItem==0">
                            <a class="page-link" (click)="getPaginator(selectedItem)">{{item}}</a>
                    </div>
                    <div *ngIf="item==selectedItem">
                            <a class="page-link" style="background: yellow" (click)="getPaginator(selectedItem)">{{item}}</a>
                    </div></li>
                </ul>
            </nav>
            <select (change)="selectChangeHandler($event)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    
                </select>
        <div class="ngta-overlay" [hidden]="!isEditDialogOpen" (click)="changeEditDialogIsShow()"></div>
        <div class="ngta-dialog" [hidden]="!isEditDialogOpen">
            <div class="card">
                <div class="card-header">
                    {{menuService.showLanguageItem("testStepManagement")}}
                </div>
                <div class="card-body">
                    <div class="container">
                        <mat-form-field >
                            <input type="text" placeholder="{{menuService.showLanguageItem('pageName')}}"
                                aria-label="Number" name="eventType" matInput [(ngModel)]="managementObject.pageName">
                        </mat-form-field>
                        <label for="platform">Platform :</label>
                        
                        <select class="margin-10px" name="platform" id="plt" [(ngModel)]="managementObject.platform">

                            <option *ngFor="let platform of platforms; let i = index" [value]="platform.platformName"
                                [selected]="platform.platformName === managementObject.platform">
                                {{i+1}}: {{platform.platformName}}
                            </option>
                        </select>
                        <mat-form-field >
                        <input type="text" placeholder="{{menuService.showLanguageItem('description')}}"
                            aria-label="Number" name="eventType" matInput [(ngModel)]="managementObject.description">
                        </mat-form-field>

                        <div [hidden]="!isDetailDialogOpen">
                            <table mat-table [dataSource]="detailsDataSource.data" style="width: 100%;padding-right: 15px;">

                                <ng-container matColumnDef="tagName">
                                    <th mat-header-cell *matHeaderCellDef> tagName
                                        <br>
                                        <mat-form-field >
                                            <input type="text" placeholder="Pick Tag Name" name="tagName"
                                                aria-label="Number" matInput [(ngModel)]="testStepDetailObject.tagName"
                                                [formControl]="testStepDetailParams.tagNameControl"
                                                [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete">
                                                <mat-option
                                                    *ngFor="let option of testStepDetailParams.tagNameFilteredOptions | async"
                                                    [value]="option">
                                                    {{option}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </th>

                                    <td mat-cell *matCellDef="let detail"> {{ detail.tagName }} </td>
                                </ng-container>

                                <ng-container matColumnDef="attributeName">
                                    <th mat-header-cell *matHeaderCellDef> Attribute Name
                                        <br>
                                        <mat-form-field >
                                            <input type="text" placeholder="Pick Attribute Name" name="attributeName"
                                                aria-label="Number" matInput
                                                [(ngModel)]="testStepDetailObject.attributename"
                                                [matAutocomplete]="auto"
                                                [formControl]="testStepDetailParams.attributeNameControl">
                                            <mat-autocomplete #auto="matAutocomplete">
                                                <mat-option
                                                    *ngFor="let option of testStepDetailParams.attributeNamefilteredOptions | async"
                                                    [value]="option">
                                                    {{option}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>

                                    </th>
                                    <td mat-cell *matCellDef="let detail"> {{ detail.attributename }} </td>
                                </ng-container>

                                <ng-container matColumnDef="attributeValue">
                                    <th mat-header-cell *matHeaderCellDef> Attribute Value
                                        <br>
                                        <form class="example-form">
                                            <mat-form-field >
                                                <input type="text" placeholder="Pick Attribute Value"
                                                    name="attributeValue" matInput
                                                    [(ngModel)]="testStepDetailObject.attributeValue">
                                            </mat-form-field>
                                        </form>
                                    </th>


                                    <td mat-cell *matCellDef="let detail"> {{ detail.attributeValue }} </td>
                                </ng-container>

                                <ng-container matColumnDef="eventType">
                                    <th mat-header-cell *matHeaderCellDef> Event Type
                                        <br>
                                        <mat-form-field >
                                            <input type="text" placeholder="Pick Attribute Name" aria-label="Number"
                                                name="eventType" matInput [(ngModel)]="testStepDetailObject.eventType"
                                                [formControl]="testStepDetailParams.eventTypeControl"
                                                [matAutocomplete]="auto">
                                            <mat-autocomplete #auto="matAutocomplete">
                                                <mat-option
                                                    *ngFor="let option of testStepDetailParams.eventTypeFilteredOptions | async"
                                                    [value]="option">
                                                    {{option}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </th>


                                    <td mat-cell *matCellDef="let detail"> {{ detail.eventType }} </td>
                                </ng-container>

                                <ng-container matColumnDef="management">
                                    <th mat-header-cell *matHeaderCellDef>
                                        <br>
                                        <button class="fa fa-plus btn btn-primary"
                                            (click)="saveTestStepDetails()"></button>
                                    </th>

                                    <td mat-cell *matCellDef="let detail" (click)="deleteTestStepDetail(detail)">
                                        <button class="fa fa-minus btn btn-danger"></button> </td>
                                </ng-container>





                                <tr mat-header-row *matHeaderRowDef="detailsDisplayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: detailsDisplayedColumns;"></tr>
                            </table>
                            
                        </div>



                    </div>

                </div>



                <div class="card-footer text-muted">
                    <button class="btn btn-primary"
                        (click)="saveParameter(managementObject)">{{menuService.showLanguageItem("save")}}</button>
                    <button class="btn btn-danger"
                        (click)="changeEditDialogIsShow()">{{menuService.showLanguageItem("cancel")}}</button>
                    <button class="btn btn-primary" (click)="changeDetailDialogIsShow()"><i
                            class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>


    
</div>