<div class="card">
    <div class="card-header">{{ menuItem.nameTr }}</div>
    <div class="card-body">

        <div class="form-group row">
            <label
                class="col-sm-5 col-form-label"
                aria-required="true"
            >{{menuService.showLanguageItem("password") }} </label>
            <div class="col-sm-6"><input
                    class="form-control"
                    ngModel
                    required
                    name="value"
                ></div>
        </div>
        <div class="form-group row">
            <label
                class="col-sm-5 col-form-label"
                aria-required="true"
            >{{menuService.showLanguageItem("newPassword") }} </label>
            <div class="col-sm-6"><input
                    class="form-control"
                    ngModel
                    required
                    name="value"
                ></div>


        </div>
        <div class="form-group row">
            <label
                class="col-sm-5 col-form-label"
                aria-required="true"
            >{{menuService.showLanguageItem("newPasswordAgain") }} </label>
            <div class="col-sm-6"><input
                    class="form-control"
                    ngModel
                    required
                    name="value"
                ></div>


        </div>
        <div class="form-group row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2    "><button
                    type="button"
                    class="btn btn-primary"
                >{{menuService.showLanguageItem("update") }}</button></div>
        </div>
    </div>
