<div class="card">
    <div class="card-header">{{ menuItem.nameTr }}</div>
    <div class="card-body">

            <table  mat-table [dataSource]="dataSource" style="width: 100%">
                    <ng-container matColumnDef="testCaseName" >
                        <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("testCaseName")}}
                         <br>
                    <input class="form-control input-sm witdh-260px"  [(ngModel)]="filterObject.testCaseName" (keyup)="filterList()" name="testCaseName">    
                        </th>
                        <td mat-cell *matCellDef="let element"> {{ element.testCaseName }} </td>


                    </ng-container>
                        <ng-container matColumnDef="schedulerId" >
                            <th mat-header-cell *matHeaderCellDef>{{  menuService.showLanguageItem("schedulerId")}} 
                                    <br>
                                    <input class="form-control input-sm witdh-260px" [(ngModel)]="filterObject.schedulerId" (keyup)="filterList()" name="schedulerId">   </th>
                            <td mat-cell *matCellDef="let element"> {{ element.schedulerId }} </td>
                        </ng-container>
                    
                         
                
                        <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("dateTime")}} 
                                    <br>
                                    <input class="form-control input-sm witdh-260px" [(ngModel)]="filterObject.date" (keyup)="filterList()" name="date">  
                            </th>
                            <td mat-cell *matCellDef="let element" > {{ element.date }} </td>
                        </ng-container>

                           
                        <ng-container matColumnDef="show">
                                <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("showTestSteps")}} </th>
                                <td mat-cell *matCellDef="let element" >
                                        <button  type="button" 
                                        class="btn btn-primary" (click)="openDialog()+getTestStepsFromRelation(element)">{{  menuService.showLanguageItem("showTestSteps")}}  </button>
                                        
                                </td>
                            </ng-container>
                
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'make-green': row.status, 'make-red': !row.status }" ></tr>
                    </table>
                    <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                
                                <li *ngFor="let item of items" >
                                
                                <div *ngIf="item!='<' && item!='>' && item!=selectedItem">
                                        <a class="page-link" (click)="getPaginator(item)">{{item}}</a>
                                </div>
                        
                                <div *ngIf="item=='>' &&  count3>2 && selectedItem+1<count3" >
                                        <a class="page-link" (click)="getPaginator(selectedItem+1)">{{item}}</a>
                                </div>
                            
                                <div *ngIf="item=='<' &&  count3>2 && selectedItem>1" >
                                        <a class="page-link" (click)="getPaginator(selectedItem-1)">{{item}}</a>
                                </div>
                                <div *ngIf="item=='<' &&  count3>2 && selectedItem==0">
                                        <a class="page-link" (click)="getPaginator(selectedItem)">{{item}}</a>
                                </div>
                                <div *ngIf="item==selectedItem">
                                        <a class="page-link" style="background: yellow" (click)="getPaginator(selectedItem)">{{item}}</a>
                                </div></li>
                            </ul>
                        </nav>
                        <select (change)="selectChangeHandler($event)">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                
                            </select> 
                            <div class="ngta-overlay" [hidden]="!dialogOpen" (click)="closeDialog()"></div>
                            <div class="ngta-dialog"  [hidden]="!dialogOpen">
                                    <table  mat-table [dataSource]="dataSource2" style="width: 100%">
                                         
                                            <ng-container matColumnDef="testStepName" >
                                                    <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("testStepName")}}
                                                     <br>
                                                 </th>
                                                    <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                            
                                                </ng-container>
                                               
                                                <ng-container matColumnDef="flag" >
                                                        <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("status")}}
                                                         <br>
                                                     </th>
                                                        <td mat-cell *matCellDef="let element"> 
                                                                <div *ngIf="element.flag">{{ menuService.showLanguageItem("success")}}</div>
                                                                <div *ngIf="!element.flag">{{ menuService.showLanguageItem("failure")}}</div>
                                                           </td>
                                
                                                    </ng-container>
                                                   
                                                
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns2; "[ngClass]="{'make-green': row.flag, 'make-red': !row.flag }" ></tr>
                                            </table>
                                
                            </div>
        </div>