<div class="card">
        <div class="card-header">{{ menuItem.nameTr }}</div>
        <div class="card-body">
                <div class="row">
                                <div class="card">
                                                <div class="card-header">{{menuService.showLanguageItem("service") }}</div>
                                                <div class="card-body" style="width:700px">
                        
                                                                <div class="form-group row">
                                                                                <label class="col-sm-5 col-form-label" aria-required="true">{{menuService.showLanguageItem("serviceName") }} </label>
                                                                                <div class="col-sm-6"><input class="form-control"  ngModel [(ngModel)]="serviceParameters.serviceName" required  name="value"></div>
                                                                            </div>
                                        <div class="form-group row">
                                                        <label class="col-sm-5 col-form-label" aria-required="true">{{menuService.showLanguageItem("description") }} </label>
                                                        <div class="col-sm-6"><input class="form-control"  ngModel [(ngModel)]="serviceParameters.description" required  name="value"></div>
                                                    </div>

                                                    <div class="form-group row" >
                                                                <div class="col-sm-5">
                                                                    <label aria-required="true">{{menuService.showLanguageItem("requestType") }}</label></div>
                                                                    <div class="col-sm-6">   <mat-form-field>

                                                                                <mat-select style="margin-left: 10px" [(ngModel)]="serviceParameters.requestType" >
                                                                                  <mat-option *ngFor="let request of requests" [value]="request.id">
                                                                                    {{request.name}}
                                                                                  </mat-option>
                                                                                </mat-select>
                                                                              </mat-form-field></div>
                    
                                                                </div>
                                                                <div class="form-group row">                                                                   <div class="col-sm-5">
                                                                        <label aria-required="true">{{menuService.showLanguageItem("parameterType") }}</label></div>
                                                                        <div class="col-sm-6">   <mat-form-field>
    
                                                                                    <mat-select style="margin-left: 10px" [(ngModel)]="serviceParameters.parameterType" >
                                                                                      <mat-option *ngFor="let parameterType of parameterTypes" [value]="parameterType.id">
                                                                                        {{parameterType.name}}
                                                                                      </mat-option>
                                                                                    </mat-select>
                                                                                  </mat-form-field></div>
                        
                                                                    </div>
                                                    <div class="form-group row">
                                                                <label class="col-sm-5 col-form-label" aria-required="true">{{menuService.showLanguageItem("endPointURL") }} </label>
                                                                <div class="col-sm-6"><input class="form-control"  ngModel [(ngModel)]="serviceParameters.url"  required   name="value"></div>
                                                            </div>
                                                    <div class="form-group row" [hidden]="serviceParameters.parameterType==1">
                                                            <div class="col-sm-5">
                                                                <label aria-required="true">{{menuService.showLanguageItem("parameters") }} </label></div>
                                                                <div class="col-sm-6"><textarea style="height:300px;  width: 350px" [(ngModel)]="serviceParameters.request"></textarea></div>
                
                                                            </div>
                                                            <div class="form-group row" [hidden]="serviceParameters.parameterType==0">
                                                                <div class="col-sm-5">
                                                                    <label aria-required="true">{{menuService.showLanguageItem("key") }} </label></div>
                                                                    <div class="col-sm-6"><input [(ngModel)]="serviceParameters.key"></div>
                    
                                                                </div>
                                                                <div class="form-group row" [hidden]="serviceParameters.parameterType==0">
                                                                    <div class="col-sm-5">
                                                                        <label aria-required="true">{{menuService.showLanguageItem("value") }} </label></div>
                                                                        <div class="col-sm-6"><input [(ngModel)]="serviceParameters.value"></div>
                        
                                                                    </div> <div class="form-group row" [hidden]="serviceParameters.parameterType==0">
                                                                    <div class="col-sm-5"></div>
                                                                    <div class="col-sm-6"><button style="margin-left:10px" type="button"  class="btn btn-primary" (click)="addParameter()">AddParameter</button></div>
                                                                      </div>
                                                            <div class="form-group row" [hidden]="serviceParameters.requestType==0">
                                                                    <div class="col-sm-5">
                                                                        <label aria-required="true">{{menuService.showLanguageItem("json") }} </label></div>
                                                                        <div class="col-sm-6"><textarea style="height:300px;  width: 350px" [(ngModel)]="serviceParameters.requestinJson"></textarea></div>
                        
                                                                    </div>
                                                       
                                                                    <div class="form-group row">
                                                                        <div class="col-sm-5">
                                                                            <label aria-required="true">{{menuService.showLanguageItem("url") }} </label></div>
                                                                            <div class="col-sm-6"><textarea style="width:350px" [(ngModel)]="serviceParameters.fullUrl"></textarea></div>
                            
                                                                        </div>
                                                                        <div class="form-group row">
                                                                                <div class="col-sm-5"></div>
                                                                        <div class="col-sm-5"><button style="margin-left:10px" type="button"  class="btn btn-primary" (click)="constructURL()">constructURL</button></div>
                                                                    </div>
                                </div>

                        </div>
                        <div class="col-sm-6">
                                <div class="row">
                                                <div class="card">
                                                                <div class="card-header">{{menuService.showLanguageItem("response") }}</div>
                                                                <div class="card-body" style="width: 600px">
                                                                                <div class="form-group row">
                                                                                               
                                                                                  <div class="col-sm-6"><textarea style="height:150px;  width: 550px" [(ngModel)]="serviceParameters.response"></textarea></div>
                                                                                </div> 
                                                                                                </div>
                                                                </div>

                                </div>

                                <div class="row"> <div class="card">
                                                <div class="card-header">{{menuService.showLanguageItem("authorization") }}</div>
                                                <div class="card-body" style="width: 600px">
                                                                <div class="form-group row">
                                                                                <label class="col-sm-5 col-form-label" aria-required="true">{{menuService.showLanguageItem("userName") }} </label>
                                                                                <div class="col-sm-6"><input class="form-control"  ngModel  required  name="value"></div>
                                                                            </div>
                                        <div class="form-group row">
                                                        <label class="col-sm-5 col-form-label" aria-required="true">{{menuService.showLanguageItem("password") }} </label>
                                                        <div class="col-sm-6"><input class="form-control"  ngModel  required  name="value"></div>
                                                    </div>
                                                    <div class="form-group row">
                                                                <div class="row">
                                                                                <div class="col-sm-5"><button style="margin-left:10px" type="button"  class="btn btn-primary" (click)="saveServiceTest()">{{menuService.showLanguageItem("saveRequest") }}</button></div>
                                                                        <div class="col-sm-5"><button type="button"  class="btn btn-primary">{{menuService.showLanguageItem("resetRequest") }}</button></div>
                                                                        <div class="col-sm-2    "><button type="button"  class="btn btn-primary"  (click)="run()">{{menuService.showLanguageItem("RUN") }}</button></div>

</div>

                                                   </div>
                                                        
                                                </div>
                                                
           
                                           </div>
                                        </div>
                                           <div class="row">
                                                        <div class="card" >
                                                                        <div class="card-header"  style="width: 600px">{{menuService.showLanguageItem("parameters") }}</div>
                                                                       
                                                                        <div class="card-body"> 
                                                                                        <div class="row">
                                                                                <div class="col-sm-4"><button type="button"  class="btn btn-primary">{{menuService.showLanguageItem("addParameter") }}</button></div>
                                                                        <div class="col-sm-4"><button type="button"  class="btn btn-primary">{{menuService.showLanguageItem("saveParameter") }}</button></div>
</div>

                                                                                        <table mat-table [dataSource]="dataSource" style="padding-right: 15px;">
                                                                                                      
                                                                                                        <ng-container matColumnDef="key"  >
                                                                                                            <th mat-header-cell *matHeaderCellDef> {{menuService.showLanguageItem("key") }}
                                                                                                                <br>
                                                                                                      
                                                                                                            </th>
                                                                                            
                                                                                            
                                                                                                            <td mat-cell *matCellDef="let element" >  {{element.key}}</td>
                                                                                                            
                                                                                                        </ng-container>                                                                                                        
                                                                                                        <ng-container matColumnDef="value" >
                                                                                                                        <th mat-header-cell *matHeaderCellDef> {{menuService.showLanguageItem("value") }}
                                                                                                                            <br>
                                                                                                                        
                                                                                                                        </th>
                                                                                                        
                                                                                                        
                                                                                                                        <td mat-cell *matCellDef="let element" class="witdh-260px">    {{element.value}} </td>
                                                                                                                        
                                                                                                                    </ng-container>
                                                                                                                    <ng-container matColumnDef="inputoutput" class="witdh-260px">
                                                                                                                                <th mat-header-cell *matHeaderCellDef> {{menuService.showLanguageItem("inputOutput") }}
                                                                                                                                    <br>
                                                                                                                           
                                                                                                                                </th>
                                                                                                                
                                                                                                                
                                                                                                                                <td mat-cell *matCellDef="let element" class="witdh-260px">{{element.inputoutput}} </td>
                                                                                                                                
                                                                                                                            </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                                                                        </table>
                                                                        </div>
                                                                          
                   
                                                   </div>
                                                </div>
                         </div>
                </div>


        </div><table mat-table [dataSource]="dataSource" style="padding-right: 15px;">
                                                                                                      
                        <ng-container matColumnDef="Sil"  >
                            <th mat-header-cell *matHeaderCellDef> {{menuService.showLanguageItem("delete") }}
                                <br>
                      
                            </th>
            
            
                            <td mat-cell *matCellDef="let element" >  {{element.key}}</td>
                            
                        </ng-container>                                                                                                        
                        <ng-container matColumnDef="service_name" >
                                        <th mat-header-cell *matHeaderCellDef>  {{menuService.showLanguageItem("serviceName") }}
                                            <br>
                                        
                                        </th>
                        
                        
                                        <td mat-cell *matCellDef="let element" class="witdh-260px">    {{element.value}} </td>
                                        
                                    </ng-container>
                                    <ng-container matColumnDef="description" class="witdh-260px">
                                                <th mat-header-cell *matHeaderCellDef>   {{menuService.showLanguageItem("description") }}
                                                    <br>
                                           
                                                </th>
                                
                                
                                                <td mat-cell *matCellDef="let element" class="witdh-260px">{{element.inputoutput}} </td>
                                                
                                            </ng-container> <ng-container matColumnDef="url" class="witdh-260px">
                                                        <th mat-header-cell *matHeaderCellDef>   {{menuService.showLanguageItem("url") }}
                                                            <br>
                                                   
                                                        </th>
                                        
                                        
                                                        <td mat-cell *matCellDef="let element" class="witdh-260px">{{element.inputoutput}} </td>
                                                        
                                                    </ng-container>
<mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
<mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
        </table>

        