<div class="card">
    <div class="card-header">{{ menuItem.nameTr }}</div>
    <div class="card-body">

            <table  mat-table [dataSource]="dataSource" style="width: 100%">
                <ng-container matColumnDef="testCaseName" >
                    <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("testCaseName")}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.testCase.testCaseName }} </td>
                </ng-container>
                    <ng-container matColumnDef="browser" >
                        <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("browser")}} </th>
                        <td mat-cell *matCellDef="let element"> {{ element.scheduler.browser }} </td>
                    </ng-container>
                
                     
            
                    <ng-container matColumnDef="dateTime">
                        <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("dateTime")}} </th>
                        <td mat-cell *matCellDef="let element" > {{ element.scheduler.dateTime }} </td>
                    </ng-container>
            
                    <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("status")}} </th>
                            <td mat-cell *matCellDef="let element" >
                                                         
                                            <mat-select style="margin-left: 10px" [(ngModel)]="element.scheduler.status" >
                                              <mat-option *ngFor="let status of statuses" [value]="status.name">
                                                {{status.name}}
                                              </mat-option>
                                            </mat-select>
                           
                        
                        
                        </ng-container>
                
                    <ng-container matColumnDef="enviroment" >
                            <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("enviroment")}} </th>
                            <td mat-cell *matCellDef="let element"> {{ element.scheduler.enviroment }} </td>
                        </ng-container>
                    
                         
                
                        <ng-container matColumnDef="interval2">
                            <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("interval")}} </th>
                            <td mat-cell *matCellDef="let element" > {{ element.scheduler.interval2 }} </td>
                        </ng-container>
                        <ng-container matColumnDef="url">
                                <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("url")}} </th>
                                <td mat-cell *matCellDef="let element" > {{ element.scheduler.url }} </td>
                            </ng-container>
                    
                            <ng-container matColumnDef="save">
                                <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("save")}} </th>
                                <td mat-cell *matCellDef="let element" >
                                        <button  type="button" 
                                        class="btn btn-primary" (click)="saveStatus(element)">{{  menuService.showLanguageItem("save")}}  </button>
                                        
                                </td>
                            </ng-container>

                            
                         
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
                </table>
                <button  type="button" 
                class="btn btn-primary" (click)="runWaitedSchedulers() + clear()">{{  menuService.showLanguageItem("run")}}  </button>
               <!-- 
                <ul>
                     
                        
                        <li *ngFor="let url of imageUrls">
                               <img  [src]="url">
                        </li>
                       
                    

                  
                  
                </ul>-->
                <table  mat-table [dataSource]="dataSource2" style="width: 100%">
                    <ng-container matColumnDef="schedulerId" >
                        <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("schedulerId")}}
                         <br>
                 
                        </th>
                        <td mat-cell *matCellDef="let element"> {{ element.schedulerId }} </td>


                    </ng-container>
                        <ng-container matColumnDef="testCaseId" >
                            <th mat-header-cell *matHeaderCellDef>{{  menuService.showLanguageItem("testCaseId")}} 
                                    <br>
                                  
                            <td mat-cell *matCellDef="let element"> {{ element.testCaseId }} </td>
                        </ng-container>
                    
                         
                
                        <ng-container matColumnDef="testStepId">
                            <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("testStepId")}} 
                                    <br>
                                   
                            </th>
                            <td mat-cell *matCellDef="let element" > {{ element.testStepId }} </td>
                        </ng-container>

                        <ng-container matColumnDef="testStepName">
                            <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("testStepName")}} 
                                    <br>
                                   
                            </th>
                            <td mat-cell *matCellDef="let element" > {{ element.testStepName }} </td>
                        </ng-container>

                        <ng-container matColumnDef="executionDate">
                            <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("executionDate")}} 
                                    <br>
                                   
                            </th>
                            <td mat-cell *matCellDef="let element" > {{ element.executionDate }} </td>
                        </ng-container>


                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("status")}} 
                                    <br>
                                   
                            </th>
                            <td mat-cell *matCellDef="let element" > 
                                
                            <div *ngIf="element.success" >  {{  menuService.showLanguageItem("success")}}  </div>
                            <div *ngIf="!element.success" > {{  menuService.showLanguageItem("failure")}} </div>                            
                            
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;" [ngClass]="{'make-green': row.success, 'make-red': !row.success }"></tr>
                    </table>


        </div>
        </div>
        