
<div class="card">
    <div class="card-header">{{ menuItem.nameTr }}</div>
    <div class="card-body">
        <div class="row">    
            <div class="col-sm-6">
            
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">

                    <!-- This is the tree node template for expandable nodes -->
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                        <li>
                            <div class="mat-tree-node">
                                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                </button>
                                {{node.folderName}}
                            </div>
                            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet></ng-container>
                            </ul>
                        </li>
                    </mat-nested-tree-node>
                    <!-- This is the tree node template for leaf nodes -->
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                        <li class="mat-tree-node">
                            <!-- use a disabled button to provide padding for tree leaf -->
                            <button mat-icon-button disabled></button>
                            <p (click)="addExcList(node)" [ngClass]="{'colorClass': node.type==1}">{{node.folderName}}</p>
                            
                        </li>
                    </mat-tree-node>
                </mat-tree>
            </div>
            <div class="col-sm-6">
                <ul>
<li *ngFor="let selectedTestCase of selectedTestCases">{{selectedTestCase.folderName}}</li>

                </ul>
                <p  style="font-weight: bold"> Browser:</p>
                <mat-form-field>
                        
                        <mat-select style="margin-left: 10px" [(ngModel)]="executionObject.type" >
                          <mat-option *ngFor="let browser of browsers" [value]="browser.id">
                            {{browser.name}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                      <br>
                      <p style="font-weight: bold"> Enviroment:</p>
                   
                
 

              <mat-radio-group [(ngModel)]="executionObject.enviroment" aria-label="Select an option">
                    <mat-radio-button value="Local">Local</mat-radio-button>
                    <mat-radio-button value="Server">Server</mat-radio-button>                    
                    <mat-radio-button value="Download">Download</mat-radio-button>
                  </mat-radio-group>
                  <p style="font-weight: bold"> Interval:</p>

                  <mat-radio-group [(ngModel)]="executionObject.interval" aria-label="Select an option">
                        <mat-radio-button value="Immediately">Immediately</mat-radio-button>
                        <mat-radio-button value="Always">Always</mat-radio-button>                    
                        <mat-radio-button value="Daily">Daily</mat-radio-button>
                        <mat-radio-button value="Weekly">Always</mat-radio-button>
                      </mat-radio-group>
                   <p style="font-weight: bold"> DateTime:</p>
                      <div class="col-sm-5">   
                            <input matInput [matDatepicker]="picker"[(ngModel)]="executionObject.dateTime" placeholder="Choose a date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                      </div>
                      <p style="font-weight: bold"> Url:</p>
                      <div class="col-sm-10"><input class="form-control" [(ngModel)]="executionObject.url"
                        name="testCaseName"></div>
<div class="row">
                  <div class="col-sm-2"><button type="button" (click)="schedule()" class="btn btn-primary">{{menuService.showLanguageItem("schedule") }}</button></div>
                   
            <div class="col-sm-2"><button type="button" (click)="run()+clear()" class="btn btn-primary">{{menuService.showLanguageItem("run") }}</button></div>
            
            ,    </div>
            </div>
</div>       </div>
    
    </div>