body {
    margin: 0px !important;
    padding: 0px !important;
}

div#page-top {
    width:100%;
    height:60px;
    background-color: #EEEEFF;
    border:1px solid rgba(0,0,0,.125);
    border-width: 0px 0px 1px 0px;
}
div#page-top img#img-banner{
    height:100%;
}
div#div-page {
    display: flex;
}
div#page-left {
    width: 250px !important;
}
div#page-left div.card{
    margin:2px;
}
div#page-left a{
    white-space: nowrap;
}
div#page-right {
    width:100%;
    padding: 2px;
}