<div id="page-top">
  <img src="assets/images/smartestool.png" id="img-banner">
</div>
<div id="div-page">
 <div id="page-left"> 
    <!-- left menu -->
    <div class="card" *ngFor="let item of menuItems; let i=index">
      <div class="card-header" (click)="toggleAccordion(i)">{{ item.nameTr }}</div>
      <div class="card-body" [hidden]="!menuAccordion[i]">
        <ng-container *ngFor="let subItem of subMenuItems">
         
          <a *ngIf="subItem.parent == item.menuId" [routerLink]="['', subItem.path ]" class="btn btn-link">{{ subItem.nameTr }}</a>
          
        </ng-container>
      </div>
    </div>
  </div>
  <div id="page-right">
    <router-outlet></router-outlet>
  </div>
</div>
