<div class="card">
    <div class="card-header">{{ menuItem.nameTr }}</div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" >{{ languageArray["name"].name }} : </label>
                <div class="col-sm-6"><input class="form-control" ngModel required  [(ngModel)]="parameterObject.name" name="name"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" aria-required="true">{{ languageArray["value"].name }} : </label>
                <div class="col-sm-6"><input class="form-control"  ngModel  required  [(ngModel)]="parameterObject.value" name="value"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" aria-required="true">{{ languageArray["description"].name }} : </label>
                <div class="col-sm-6"><input class="form-control" ngModel  required  [(ngModel)]="parameterObject.description" name="description"></div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-1"><button type="button" (click)="saveParameter()" class="btn btn-primary">{{ languageArray["save"].name }}</button></div>
                <div class="col-sm-1"><button type="button" (click)="openDialog()" class="btn btn-primary">{{ languageArray["list"].name }}</button></div>
                <div class="col-sm-1"><button type="button" (click)="reset()" class="btn btn-primary">{{ languageArray["new"].name }}</button></div>
            </div>
        </form>
    </div>
</div>