<div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ languageArray["name"].name }} : </label>
        <div class="col-sm-6"><input class="form-control"  (keyup)="filterByName($event)" [(ngModel)]="filterObject.name" name="name"></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ languageArray["value"].name }} : </label>
        <div class="col-sm-6"><input class="form-control"  (keyup)="filterByValue($event)" [(ngModel)]="filterObject.value" name="value"></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ languageArray["description"].name }} : </label>
        <div class="col-sm-6"><input class="form-control" (keyup)="filterByDescription($event)"  [(ngModel)]="filterObject.description" name="description"></div>
    </div>

<table  mat-table [dataSource]="data.tableData.data" style="width: 100%">

    <ng-container matColumnDef="name" >
        <th mat-header-cell *matHeaderCellDef> {{ languageArray["name"].name }} </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
    </ng-container>

    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> {{ languageArray["value"].name }} </th>
        <td mat-cell *matCellDef="let element"> {{ element.value }} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> {{ languageArray["description"].name }} </th>
        <td mat-cell *matCellDef="let element" > {{ element.description }} </td>
    </ng-container>

    <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> {{ languageArray["select"].name }} </th>
            <td mat-cell *matCellDef="let element " ><button mat-button type="button"  [mat-dialog-close]="data.paramObj"    (click)="onSelect(element)" class="btn btn-primary">{{ languageArray["select"].name }}</button> </td>
            
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"  ></tr>
</table>