<div class="card">
    <div class="card-header">{{ menuItem.nameTr }}</div>
    <div class="card-body">
        <div class="row">

            <div class="col-sm-6">
                <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">

                    <!-- This is the tree node template for expandable nodes -->
                    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                        <li>
                            <div class="mat-tree-node">
                                <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                    <mat-icon class="mat-icon-rtl-mirror">
                                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                    </mat-icon>
                                </button>
                                {{node.folderName}}<button  type="button" (click)="addFile(node)"
                                class="btn btn-primary"><i class="fa fa-plus" style="font-size:8px"></i></button>
                                <button  type="button" 
                                class="btn btn-danger" (click)="deleteFile(node.folderId)"><i class="fa fa-minus"  style="font-size:8px"></i></button>
                            </div>
                            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                                <ng-container matTreeNodeOutlet></ng-container>
                            </ul>
                        </li>
                    </mat-nested-tree-node>
                    <!-- This is the tree node template for leaf nodes -->
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                        <li class="mat-tree-node">
                            <!-- use a disabled button to provide padding for tree leaf -->
                            <button mat-icon-button disabled></button>
                            <p [ngClass]="{'colorClass': node.type==1}" (click)="get(node.folderId, node.type)"
                            
                            >
                                {{node.folderName}}<button [hidden]="node.type==1"  type="button" (click)="addFile(node)"
                                class="btn btn-primary"><i class="fa fa-plus" style="font-size:8px"></i></button> 
                                <button  type="button" 
                                class="btn btn-danger" (click)="deleteFile(node.folderId)"><i class="fa fa-minus" style="font-size:8px"></i></button>
                            </p>
                        </li>
                    </mat-tree-node>
                </mat-tree>


            </div>
            <div class="col-sm-6" [hidden]="!isFormGroupOpen"> 
        
        
            <div class="form-group row" >
                <label class="col-sm-2 col-form-label">{{ menuService.showLanguageItem("name") }} : </label>
                <div class="col-sm-6"><input class="form-control" [(ngModel)]="parameterObject.testCaseName"
                        name="testCaseName"></div>


            </div>
       
            <div class="form-group row" >
                <label class="col-sm-2 col-form-label">{{ menuService.showLanguageItem("description") }} : </label>
                <div class="col-sm-6"><input class="form-control" [(ngModel)]="parameterObject.description"
                        name="description">
                     
                </div>
                <div class="col-sm-1"><button type="button" (click)="save()" class="btn btn-primary">{{menuService.showLanguageItem("save") }}</button></div>
                <div class="col-sm-3"><button type="button" (click)="openDialog(parameterObject)" class="btn btn-primary">{{ menuService.showLanguageItem("addstep") }}</button></div>
               
            </div>
            <div class="form-group-row">
<mat-checkbox  [(ngModel)]="parameterObject.template">{{menuService.showLanguageItem("template") }}</mat-checkbox>

            </div>
                <div class="form-group row" >
                

                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)"> 
                    <div class="example-box" *ngFor="let data of dataSource3.data; let i = index" cdkDrag>{{data.description}}<button type="button" (click)="deleteStep(data)" class="btn btn-primary">{{ menuService.showLanguageItem("delete") }}</button><input [hidden]="data.type" [(ngModel)]="data.text"
                        name="textName"></div>
                  </div>


                  

            </div>
            <div class="form-group row" >
            <div class="col-sm-3"><button type="button" (click)="openDialog2(parameterObject)" class="btn btn-primary">{{ menuService.showLanguageItem("addTestCase") }}</button></div>
            <div class="col-sm-3"><button type="button" (click)="openDialog3(parameterObject)" class="btn btn-primary">{{ menuService.showLanguageItem("java") }}</button></div>
                 </div>
        </div>
        

        <div class="col-sm-6" [hidden]="!isAddFileOpen"> 
        
        
                <div class="form-group row" >
                    <label class="col-sm-2 col-form-label">{{ menuService.showLanguageItem("name") }} : </label>
                    <div class="col-sm-6"><input class="form-control" [(ngModel)]="folderObject.folderName"
                            name="testCaseName"></div>
                </div>
               <div class="form-group row" >
                    <label class="col-sm-2 col-form-label">{{ menuService.showLanguageItem("type") }} : </label>
                
                              <mat-form-field>

                                    <mat-select style="margin-left: 10px" [(ngModel)]="folderObject.type" >
                                      <mat-option *ngFor="let type of types" [value]="type.id">
                                        {{type.name}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                    </div>

                    <div class="form-group row" [hidden]="folderObject.type==0">
                            <label class="col-sm-2 col-form-label">{{ menuService.showLanguageItem("description") }} : </label>
                            <div class="col-sm-6"><input class="form-control" [(ngModel)]="folderObject.description"
                                    name="testCaseName"></div>

                        </div>
                        
                    <div class="col-sm-1"><button type="button" (click)="createFile()" class="btn btn-primary">{{menuService.showLanguageItem("save") }}</button></div>
                   

                </div>
            </div>

        
        <div class="ngta-overlay" [hidden]="!isDialogOpen"  (click)="closeDialog()"></div>
<div class="ngta-dialog" [hidden]="!isDialogOpen">

    <table  mat-table [dataSource]="dataSource2.data" style="width: 100%">

        <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("name")}} </th>
            <td mat-cell *matCellDef="let element"> {{ element.pageName }} </td>
        </ng-container>
    
         

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("description")}} </th>
            <td mat-cell *matCellDef="let element" > {{ element.description }} </td>
        </ng-container>

        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="addTestStep(row)"></tr>
    </table>

 

        </div>
        <div class="ngta-overlay" [hidden]="!isDialogOpen2"  (click)="closeDialog2()"></div>
        <div class="ngta-dialog" [hidden]="!isDialogOpen2">
        
            <table  mat-table [dataSource]="dataSource4.data" style="width: 100%">

                <ng-container matColumnDef="name" >
                    <th mat-header-cell *matHeaderCellDef> {{ menuService.showLanguageItem("name")}} </th>
                    <td mat-cell *matCellDef="let element"> {{ element.testCaseName }} </td>
                </ng-container>
            
                 
        
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> {{  menuService.showLanguageItem("description")}} </th>
                    <td mat-cell *matCellDef="let element" > {{ element.description }} </td>
                </ng-container>
        
                
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="addTestCase(row)"></tr>
            </table>
        
         
        
                </div>
        <div class="ngta-overlay" [hidden]="!isDialogOpen3"  (click)="closeDialog3()"></div>
        <div class="ngta-dialog" [hidden]="!isDialogOpen3">
      
        <div class="form-group row" >
                <label class="col-sm-2 col-form-label">{{ menuService.showLanguageItem("javaCode") }} : </label>
                <div class="col-sm-6"><textarea style="height:500px;  width: 100%;" class="form-control" [(ngModel)]="javaText"></textarea></div>
                <div class="col-sm-3"><button type="button" (click)="showJavaCode(javaText)" class="btn btn-primary">{{ menuService.showLanguageItem("save") }}</button></div>
               
            </div>
        
                </div>

        
    </div>


    
</div>