
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ngta-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0,0.25);
   z-index: 1001;
}
.ngta-dialog-close{
    position: absolute;
    z-index: 1003;
    margin-left: 970px;
    margin-top: -18px;
    
}
.ngta-dialog-close img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.ngta-dialog{
    top: 5%;
    position: fixed;
    left: 50%;
    margin-left: -500px;
    max-height: 90%;
    width: 1000px;
    background: white;
    z-index: 1002;
    border-radius: 10px;
    box-shadow: 0px 0px 25px #666;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.form-control {
  display: block;
  width: 80%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
  padding: 10px!important;
}
.margin-10px{
  margin: 10px!important;
}
.cdk-overlay-container{
  z-index: 9879!important;
}